<?xml version="1.0"?>
<launch>
  <group ns="small_scout_2">
   <param name="/use_sim_time" value="true"/>
   <node name="rover_dead_reckoning_node" pkg="rover_deadreckoning" type="rover_dead_reckoning_node" respawn ="true" output="screen">
     <rosparam
      command="load"
      file="$(find rover_deadreckoning)/config/scout2_dead_reckoning.yaml"
      subst_value="true"
     />
   </node>
  </group>
</launch>
